/* Naam */
.card-title.text-danger {
    color: #dc3545 !important;
    font-size: 1.25rem; 
    font-weight: 600;
}

/* Email */
.card-body a:not(.btn) {
    color: #0d6efd;
    text-decoration: none;
    font-weight: 500;
}

.card-body a:not(.btn):hover {
    color: #0a58ca;
    text-decoration: underline;
}